._mrtviewer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;

    ._mrtview_canvas {
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;

        ._mrtviewer_bg {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}