.mrt-container {
    position: relative;
}

.toolgroup.horizontal {
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 0.25rem;
}

.toolgroup.horizontal .toolgroup {
    float: right;
}

.toolgroup.vertical .tool {
    float: none;
}

.toolgroup.horizontal .toolgroup.secondary {
    display: none;
}

.toolgroup.horizontal:hover .toolgroup.secondary {
    display: block;
}

.toolgroup.vertical .tool.secondary {
    display: none;
}

.toolgroup.vertical:hover .tool.secondary {
    display: block;
}
