.cross-identifier {
    transform: rotate(45deg);
    transition: all .5s ease;
    visibility: hidden;
}

.paper-text {
    font-weight: bold;
}

.paper-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.paper-text:hover + .cross-identifier {
    transform: rotate(0deg);
    visibility: visible;
}