.paper-text {
    font-weight: bold;
    transition: all .5s;
}

.paper-text:hover {
    text-decoration: underline;
}

.paper-edit-icon-group {
    transition: opacity .5s;
}

.paper-edit-icon {
    transition: opacity .5s;
}

.paper-edit-icon:hover {
    cursor: pointer;
}

.paper-view-group {
    transition: transform .5s;
}

.era-node-circle {
    transition: all .5s;
}